.patient li{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.patient li:nth-of-type(2n){
    background: #ccc;
}
.patient li:nth-of-type(2n+1){
    background: #eee;
}
.patient a:link, a:visited {
    color: black;
    text-decoration: none;
}
.patient a span{
    margin-right: 40px;
}